.table-view .column-header-background .filler {
   -fx-font-family: "Arial";
   -fx-font-size: 16px;
   -fx-font-weight: bold;
}

.table-view .cell1 {
   -fx-font-family: "kiran";
   -fx-font-size: 30px;
}

.kiran-font {
     -fx-font-family: "kiran";
       -fx-font-size: 30px;
}