.button{
	-fx-background-color:#007bff;
	-fx-text-fill:White;
	-fx-font:12pt "Georgia";
	 -fx-effect: dropshadow( one-pass-box , black , 8 , 0.0 , 2 , 0 );
}
.button .glyph-icon{
	-fx-fill:white;
}
.button:hover {
	-fx-background-color:#00e676;
}
.button:pressed{
	-fx-background-color:#1de9b6;
}