.table-view {
    -fx-background-color: #000000, #ffffff;
    -fx-background-insets: 0, 1.5;
    -fx-background-radius: 4, 3;
}

.table-view .column-header,
.table-view .column-header-background .filler {
    -fx-background-color: #f5f5f5;
    -fx-border-color: #000000;
    -fx-border-width: 0 0 1.5 0;
}
.table-view .column-header .label {
    -fx-text-fill: #1a1a1a;
    -fx-font-weight: bold;
    -fx-alignment: CENTER;
}
.table-view .column-header-background {
    -fx-background-color: #f5f5f5;
}

.table-view .cell {
    -fx-cell-size: 35;
    -fx-alignment: CENTER_LEFT;
    -fx-font-size: 14px;
    -fx-text-fill: #1a1a1a;
}

.table-view .table-row-cell {
    -fx-background-color: #ffffff;
    -fx-border-color: #cccccc;
    -fx-border-width: 0 0 0.5 0;
}
.table-view .table-row-cell:odd {
    -fx-background-color: #fafafa;
}
.table-view .table-row-cell:selected {
    -fx-background-color: #e0e0e0;
}
.table-view .table-row-cell:selected .cell {
    -fx-text-fill: #000000;
}

.table-view .placeholder .label {
    -fx-text-fill: #888888;
}

/* scroll bar */
.table-view .increment-button, .table-view .decrement-button {
    -fx-background-color: transparent;
    -fx-background-radius: 2em;
}

.table-view .scroll-bar:horizontal .track,
.table-view .scroll-bar:vertical .track {
    -fx-background-color: #f0f0f0;
    -fx-background-radius: 2em;
}

.table-view .scroll-bar:horizontal .thumb,
.table-view .scroll-bar:vertical .thumb {
    -fx-background-color: #aaaaaa;
    -fx-background-insets: 2, 0, 0;
    -fx-background-radius: 2em;
}
